:root {
    --dark-01: #292929;
    --light-01: #eee;
    --light-02: #ccc;
    --secondary-01: #7b00ff;
    --accent-01: #27b9b4;
    --see-through-01: #29292955;
}

ul,
ol {
    list-style: none;
}
