---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>About us</h1>

    <p>
        Sol Books was idealized by Soleil Adelakun's. She started writing books at the age of 8,
        alongside her friend Lenox Brown. Ever since, more and more stories have become enjoyable
        books.
    </p>

    <p>
        Seeking a way to distribute her work, Soleil asked her daddy Felipe to build her a website.
    </p>
</Layout>
