---
import Nav from "./Nav.astro";
---

<header>
    <div class="header-container">
        <div id="head-logo-container">
            <img src="logo.png" alt="" />
            <span>sol books</span>
        </div>

        <Nav />
    </div>
</header>

<script>
    const header = document.querySelector(".header-container")!;
    const smallNav = document.querySelector("#small-nav")!;
    const navBtn = smallNav.querySelector("button")!;
    const dialog = smallNav.querySelector("dialog")!;
    const dialogCloseBtn = dialog.querySelector("button")!;

    function applyScrolledStyleToHeader() {
        if (!document.scrollingElement?.scrollTop) return;

        const scrolledDown = document.scrollingElement.scrollTop > 120;

        if (scrolledDown && !header.classList.contains("scrolled")) {
            header.classList.add("scrolled");
        } else if (!scrolledDown && header.classList.contains("scrolled")) {
            header.classList.remove("scrolled");
        }
    }

    applyScrolledStyleToHeader();
    document.addEventListener("scroll", applyScrolledStyleToHeader);
</script>

<style>
    header {
        height: 48px;
        background-color: var(--dark-02);
        position: relative;
        z-index: 2;

        .header-container {
            position: fixed;
            height: 48px;
            width: 100%;
            top: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--dark-01);
            color: var(--light-01);
            transform-origin: top;

            transition-property: transform, box-shadow;
            transition-duration: 0.25s;
            transition-timing-function: ease;

            &.scrolled {
                transform: scaleY(0.96);
                box-shadow: 0px 2px 12px var(--see-through-02);
            }

            #head-logo-container {
                height: 56px;
                color: var(--accent-01);
                display: flex;
                align-items: center;
                padding-left: 8px;
                padding-right: 16px;

                img {
                    width: 56px;
                    height: 56px;
                }
            }

            nav {
                margin-right: 18px;
                font-size: 18px;

                #large-nav a {
                    margin-left: 8px;
                    text-transform: uppercase;
                }
            }

            dialog {
                left: unset;
                z-index: 2;
                background-color: var(--dark-01);
            }

            a {
                text-decoration: none;
                color: var(--light-01);
            }
            a.active {
                color: var(--accent-01);
            }
            a:active {
                color: var(--accent-02);
            }
        }
    }

    @media screen and (max-width: 600px) {
        #large-nav {
            display: none;
        }
        #small-nav {
            display: block;
        }
    }
    @media screen and (min-width: 601px) {
        #large-nav {
            display: block;
        }
        #small-nav {
            display: none;
        }
    }
</style>
