---
import { Image } from "astro:assets";
import heroImg1 from "../assets/hero.webp";
import heroImg2 from "../assets/hero.02.jpg";
import heroImg3 from "../assets/hero.03.jpg";

function randRange(min: number, max: number) {
    return Math.floor(Math.random() * (max - min + 1) + min);
}

const heroImages = [heroImg1, heroImg2, heroImg3];
const heroImg = heroImages[randRange(0, heroImages.length - 1)];
---

<div id="hero-container">
    <div id="hero-text-container">
        <h1>Welcome to Sol Books</h1>
        <h2>Books made by kids for kids</h2>

        <p>
            You are about to enter a world of wonders, laughs, and adventures. Here creativity has
            no limits!
        </p>
    </div>
    <!-- <img id="hero-image" src={heroImg.src} /> -->
    <Image id="hero-image" src={heroImg} alt="" />
</div>

<style>
    #hero-container {
        display: flex;
        justify-content: space-between;
        background-color: var(--secondary-01);
        width: 100%;
        overflow: hidden;
    }

    #hero-text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);

        color: var(--light-01);
        background-color: var(--see-through-01);
        backdrop-filter: blur(0.5);

        min-width: 280px;
        max-width: 420px;
        border-radius: 16px;
        text-align: center;
        padding: 24px;

        p {
            font-size: 18px;
        }
    }

    img#hero-image {
        max-height: 700px;
        transform: scaleX(-1);
        margin: 0 auto;
    }
</style>
