---

---

<div id="hero-container">
    <div id="text-container">
        <span>welcome</span>
    </div>
    <img id="hero" src="hero.webp" />
</div>

<style>
    #hero-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #text-container {
        background-color: blue;
        color: white;
        flex-grow: 10;
        min-width: 360px;
    }

    img#hero {
        max-height: 700px;
        transform: scaleX(-1);
    }
</style>
